<blockquote>
    <p>I do not fear computers. I fear the lack of them.
        <cite>Isaac Asimov</cite></p>
</blockquote>

<ul class="disc">
    <li>RethinkDB <a href="http://www.rethinkdb.com/" target="_blank">http://www.rethinkdb.com/</a></li>
    <li>Ruby on Rails <a href="http://rubyonrails.org/" target="_blank">http://rubyonrails.org/</a></li>
    <li>Foundation <a href="http://foundation.zurb.com/" target="_blank">http://foundation.zurb.com/</a></li>
    <li>Node.js <a href="http://nodejs.org/" target="_blank">http://nodejs.org/</a></li>
    <li>React <a href="http://facebook.github.io/react/" target="_blank">http://facebook.github.io/react/</a></li>
</ul>
