<%= form_for(@item) do |item_form| %>

  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, 'error') %> prohibited this item from being saved.</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= item_form.label :title %><br />
    <%= item_form.text_field :title %>
  </div>

  <div class="field">
    <%= item_form.label :title_original %><br />
    <%= item_form.text_field :title_original %>
  </div>

  <div class="field">
    <%= item_form.label :year %><br />
    <%= item_form.text_field :year %>
  </div>


  <div class="field">
    <%= item_form.label :description %><br />
    <%= item_form.text_area :description %>
  </div>

  <div class="field">
    <%= item_form.label :countries %><br />
    <%= item_form.country_select :countries, ["United States", "Great Britain", "France", "Germany"] %>
  </div>

  <div class="actions">
    <%= item_form.submit %>
  </div>
<% end %>
