<%= simple_form_for @item, :html=> {:multipart=>true} do |item_form| %>

    <dl class="accordion" data-accordion>
        <dd>
            <a href="#panel1">Основная информация</a>
            <div id="panel1" class="content active">
                <%= item_form.input :poster, label: 'URL постера' %>
                <%= item_form.input :bg_image, label: 'Кадр для фона' %>
                <%= item_form.input :title, label: 'Название фильма' %>
                <%= item_form.input :title_original, label: 'Название в оригинале' %>
                <%= item_form.input :year, label: 'Год выхода', :as => :integer %>
                <%= item_form.country_select :countries, ["United States", "Great Britain", "France", "Germany"] , label: 'Страны' %>
                <%= item_form.text_area :description, label: 'Описание', input_html: { class: 'six columns' }, rows: 10 %>
            </div>
        </dd>

        <dd>
            <a href="#panel2">Люди</a>
            <div id="panel2" class="content">
                <dl class="tabs" data-tab>
                    <dd class="active"><a href="#panel2-1">Актеры</a></dd>
                    <dd><a href="#panel2-2">Режиссеры</a></dd>
                    <dd><a href="#panel2-3">Сценаристы</a></dd>
                    <dd><a href="#panel2-4">Продюссеры</a></dd>
                </dl>
                <div class="tabs-content">
                    <div class="content active" id="panel2-1">
                        <div class="row">
                            <div class="large-5 columns">
                                <label>Персона
                                    <input type="text" placeholder="введите имя" />
                                </label>
                            </div>
                            <div class="large-1 columns">
                                <br /><span>играл</span>
                            </div>
                            <div class="large-6 columns">
                                <label>Герой
                                    <input type="text" placeholder="имя персонажа" />
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="content" id="panel2-2">
                        <div class="row">
                            <div class="large-6 columns">
                                <label>Персона
                                    <input type="text" placeholder="введите имя" />
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="content" id="panel2-3">
                        <div class="row">
                            <div class="large-6 columns">
                                <label>Персона
                                    <input type="text" placeholder="введите имя" />
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="content" id="panel2-4">
                        <div class="row">
                            <div class="large-6 columns">
                                <label>Персона
                                    <input type="text" placeholder="введите имя" />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </dd>

        <dd>
            <a href="#panel3">Студии</a>
            <div id="panel3" class="content">
                <dl class="tabs" data-tab>
                    <dd class="active"><a href="#panel3-1">Производство</a></dd>
                    <dd><a href="#panel3-2">Прокат</a></dd>
                </dl>
                <div class="tabs-content">
                    <div class="content active" id="panel3-1">
                        <div class="large-12 columns">
                            <label>Студии производства
                                <select multiple="true" style="height: 150px;">
                                    <option value="marvel">Marvel Entertainment</option>
                                    <option value="disney">Walt Disney Studios Motion Pictures</option>
                                    <option value="fox">Twentieth Century Fox Film Corporation</option>
                                    <option value="dune">Dune Entertainment</option>
                                    <option value="hat">Bad Hat Harry Productionsn</option>
                                    <option value="screen">Big Screen Productions</option>
                                    <option value="warner">Warner Bros.</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="content" id="panel3-2">
                        <div class="large-12 columns">
                            <label>Студии прокатчики
                                <select multiple="true" style="height: 150px;">
                                    <option value="marvel">Marvel Entertainment</option>
                                    <option value="disney">Walt Disney Studios Motion Pictures</option>
                                    <option value="fox">Twentieth Century Fox Film Corporation</option>
                                    <option value="dune">Dune Entertainment</option>
                                    <option value="hat">Bad Hat Harry Productionsn</option>
                                    <option value="screen">Big Screen Productions</option>
                                    <option value="warner">Warner Bros.</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </dd>

    </dl>

    <br />
    <p>
        <%= item_form.button :submit, label: 'Сохранить', class: 'success button' %>
        <% if @item.title %>
            <%= link_to 'Удалить', @item, method: :delete, data: { confirm: 'Вы уверены?' }, class: '[success alert secondary] [round radius] button' %>
        <% end %>
    </p>

<% end %>
