<div class="panel callout radius">
<h3><%= @item.title %></h3>
<h5><%= @item.title_original %></h5>
<% if @item.poster != '' %>
    <a class="th [radius]" href="#">
        <img src="<%= @item.poster %>">
    </a>
<% end %>
<p>
    <%= @item.description %>
</p>
</div>
