<ul class="small-block-grid-3">
    <% @items.each do |item| %>
        <li>
            <% if item.poster == '' %>
                <% item.poster = 'http://ia.media-imdb.com/images/G/01/imdb/images/nopicture/large/film-184890147._V379391879_.png' %>
            <% end %>
            <i class="fi-[icon]"></i>
            <% if item.poster != '' %>
                <a class="th [radius]" href="<%= url_for edit_item_path(item) %>">
                    <img src="<%= item.poster %>">
                </a>
            <% end %><br />
            <%= link_to item.title, edit_item_path(item) %><br />
            <%= link_to 'Удалить', item, method: :delete, data: { confirm: 'Вы уверены?' }, class: '[success alert secondary] [round radius] label' %>
        </li>
    <% end %>
</ul>

<ul class="pagination">
    <li class="arrow unavailable"><a href="">&laquo;</a></li>
    <li class="current"><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">4</a></li>
    <li class="unavailable"><a href="">&hellip;</a></li>
    <li><a href="">12</a></li>
    <li><a href="">13</a></li>
    <li class="arrow"><a href="">&raquo;</a></li>
</ul>
