<p id="notice"><%= notice %></p>

<div id="body">
    <h1><%= link_to @item.title, @item, :rel => "permalink" %></a></h1>
    <h2><%= @item.title_original %></h2>
    <% if @item.poster != '' %>
        <a class="th [radius]" href="#">
            <img src="<%= @item.poster %>">
        </a>
    <% end %>
    <div id="entry">
    <%= @item.description %>
    </div>
</div>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
