<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "RethinkFilms - управление контентом" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <div class="contain-to-grid sticky">
          <nav class="top-bar" data-topbar data-options="sticky_on: large">
              <ul class="title-area">
                  <li class="name">
                      <h1><%= link_to "RethinkFilms - управление контентом", items_path %></a></h1>
                  </li>
              </ul>
              <section class="top-bar-section">
                  <ul class="left">
                      <li class="divider"></li>
                      <li><%= link_to "Список фильмов", items_path %></li>
                      <li class="divider"></li>
                      <li><%= link_to "Добавить элемент", new_item_path, class: 'button' %></li>
                      <li class="divider"></li>
                      <li class="has-form"><%= link_to "Технологии", controller: "technology", action: "index" %></li>
                      <li class="divider"></li>
                      <li class="has-form">
                          <div class="row collapse">
                              <div class="large-8 small-9 columns">
                                  <input type="text" placeholder="Поиск">
                              </div>
                              <div class="large-4 small-3 columns">
                                  <a href="#" class="alert button expand">Найти</a>
                              </div>
                          </div>
                      </li>
                  </ul>
              </section>
          </nav>
      </div>
      <div class="row">
          <br />
          <%= yield %>
      </div>

  <%= javascript_include_tag "application" %>
  </body>
</html>
